/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Lora", serif; /* Fuente principal para texto */
  line-height: 1.6;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Puedes ajustar el peso de la fuente según lo necesites */
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; /* Puedes ajustar el peso de la fuente según lo necesites */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #333; /* Texto oscuro */
  position: fixed; /* Cambiado a fixed */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe todo el ancho */
  z-index: 1000;
  background: linear-gradient(90deg, #ffffff, #dcdea3);
  background-color: #c1ae38;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
}

header a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

header a:hover {
  color: #eae28b; /* Cambia el color al pasar el cursor */
}

header h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el texto y el ícono */
}

.logo img {
  max-height: 80px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links ul {
  list-style: none;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* Dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f2f4f5;
    padding: 10px;
  }

  .menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
  }
}

/*Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #c9b138;
  color: rgb(63, 69, 67);
}

.logo h1 {
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(10, 9, 9);
  font-size: 16px;
}

.nav-links .dropdown {
  position: relative;
}

.nav-links .dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0;
  text-align: left; /* Alinea el texto a la izquierda */
}

.dropdown-menu a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

/* Mostrar el submenú al pasar el ratón */
.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #ffffff, #dcdea3);
    background-color: #c1ae38;
    padding: 10px;
  }

  .menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
  }
}

/* Profile */

.profile-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #f7f7df;
  margin-top: 80px;
}

.profile-image {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.profile-image img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.profile-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.profile-text h1 {
  font-family: "Shafarik", system-ui;
  font-size: 64px; /* Ajusta según el tamaño exacto */
  font-weight: 300; /* O el peso que mejor coincida */
  color: #444; /* Ajusta según el color exacto */
  line-height: 1.2;
}

.profile-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
}

/* Animación de aparición */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Footer */
.footer {
  background-color: #666240;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  margin-top: 50px; /* Aumenta este valor según lo necesites */
  width: 100vw; /* Asegura que ocupe toda la ventana */
  left: 0; /* Fija al borde izquierdo */
  right: 0; /* Fija al borde derecho */
}

.footer-content {
  max-width: 100%;
  margin: 0 auto;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
  color: wheat;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  footer .social-media {
    margin-top: 10px;
  }
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: white;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

/* Responsividad */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    height: auto;
  }

  .profile-image,
  .profile-text {
    width: 100%;
    height: auto;
  }

  .profile-image img {
    height: 50vh; /* Reduce la altura de la imagen en móviles */
  }

  .profile-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 20px;
  }
}

/*containerhablamos*/
.containerhablamos {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  background-color: #edd7b6;
  padding: 15px;
  margin-top: 30px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #6c5625;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btn {
  background-color: #a8c8ff;
  color: rgb(249, 245, 245);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.btn:hover {
  background-color: #88a9ff;
}

/* Consulta box */
.consulta-container {
  display: flex;
  width: 100%;
  height: 400px; /* Ajusta la altura según lo necesites */
  margin-top: 30px;
}

.consulta-box {
  position: relative;
  width: 50%; /* Cada tarjeta ocupa la mitad del ancho */
  overflow: hidden;
}

.consulta-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.consulta-box:hover img {
  transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

.consulta-text {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 0;
}

/* En que areas te puedo ayudar*/
.areasayuda {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: rgb(107, 78, 14); /* O el color que prefieras */
  width: 100%; /* Asegura que ocupe todo el ancho */
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.grid-item:hover .card {
  transform: rotateY(180deg);
}

/* Estilos para la parte frontal de la tarjeta */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.card-front {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(235, 235, 190);
}

.card-front h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #5a5a5a;
  margin-bottom: 10px;
}

.card-front p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* Estilos para la parte trasera de la tarjeta */
.card-back {
  background-color: #d8d5ca; /* Color suave */
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-back .btn {
  display: inline-block;
  background-color: #a1bba3;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.card-back .btn:hover {
  background-color: #3b5283;
}

/* Main gif */

.programando {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evita que se desborde contenido */
}

.programador {
  width: 100%;
  height: 100%;

  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.texto {
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 4px 4px 10px rgba(0, 255, 255, 0.7);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media (max-width: 768px) {
  .texto {
    font-size: 2rem;
  }
}

/*Proceso */

.proceso-container {
  display: flex;
  flex-direction: row; /* Asegura que el título esté arriba y luego los procesos */
  align-items: center; /* Centra los elementos dentro del contenedor */
  gap: 40px;
  flex-wrap: wrap;
  background-color: #d9d6cf;
  padding: 20px; /* Agrega espacio alrededor */
}

.tituloproceso {
  font-family: "Shafarik", system-ui;
  font-size: 30px; /* Ajusta según el tamaño exacto */
  font-weight: 150; /* O el peso que mejor coincida */
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  color: rgb(156, 155, 155); /* O el color que prefieras */
  width: 100%; /* Asegura que ocupe todo el ancho */
}

.proceso {
  background-color: #f8f9fa; /* Fondo suave */
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.proceso:hover {
  transform: translateY(-5px);
}

.icono img {
  width: 80px; /* Ajusta el tamaño del ícono */
  height: auto;
  margin-bottom: 10px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #5a5a5a; /* Gris oscuro suave */
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

/* Responsividad */
@media (min-width: 768px) {
  .proceso-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .proceso {
    flex: 1;
  }
}

/*Contacto*/

.contacto-page {
  text-align: center;
  background: #ffffff;
}

/* 🖼 Imagen de fondo que ocupa el 100% */
.headercontacto {
  width: 100%;
  height: 350px; /* Ajusta la altura según necesites */
  background: url("/imagenes/contactostones.jpg") no-repeat center center;
  background-size: cover; /* Para que se vea completa */
  display: flex;
  justify-content: center;
  align-items: center;
}

.headercontacto h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #815da8;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background-color: #eedff2;
}

.info-box {
  background: #eedff2;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.consultoriocontacto {
  width: 100px;
  height: 100px;
}

.consultoriodireccion {
  width: 100px;
  height: 100px;
  margin-top: 200px;
}

.info-box i {
  font-size: 3rem;
  color: #815da8;
}

.info-box h2 {
  font-family: "Shafarik", system-ui;
  font-size: 30px; /* Ajusta según el tamaño exacto */
  line-height: 1.2;
  color: #5a2d82;
  text-transform: uppercase;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

hr {
  width: 50%;
  margin: 10px auto;
  border: 1px solid #5a2d82;
}

.info-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #222222;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .info-box {
    width: 90%;
  }

  .headercontacto h1 {
    font-size: 2rem;
  }
}

/* Contacto */

.contact-container {
  display: flex;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
}

.contact-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 20px;
  border-right: 2px solid #ddd;
}

.contact-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.contact-info h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}

.contact-info p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
  margin-top: 20px;
}

.contact-btn {
  background-color: #aa9347;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}

.contact-btn:hover {
  background-color: #ff7043;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  margin: 0 5px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.contact-form {
  flex: 2;
  padding-left: 20px;
}

.contact-form h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  color: #333;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.submit-btn {
  background-color: #26c6da;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #00acc1;
}

/*Sobre mi*/
/* Asegura que el carrusel no se superponga */
.carousel {
  margin-top: 100px; /* Ajusta este valor según la altura de tu header */
  position: relative;
  z-index: 1; /* Deja el carrusel detrás del header si es necesario */
}

/*Sobre mí*/
.carousel-item img {
  max-height: 700px;
  background-size: 600px;
  margin-top: 0; /* Asegúrate de que no haya márgenes extra */
}

.carousel .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Cambia el color de fondo de las flechas a negro */
  background-image: none; /* Elimina la imagen por defecto de Bootstrap para aplicar el color */
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: "";
  width: 30px; /* Ajusta el tamaño de la flecha */
  height: 30px; /* Ajusta el tamaño de la flecha */
  border: solid black; /* Cambia el color de la flecha a negro */
  border-width: 0 3px 3px 0;
  display: inline-block;
}

.sobre-mi {
  font-family: "Poppins", sans-serif;
  background-color: rgb(209 236 232);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.contenido {
  font-family: "Poppins", sans-serif;
  max-width: 600px;
}

/* Título */
.sobre-mi h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sobre-mi p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
}
/* Comentarios */

.titlecomentarios {
  font-family: "Shafarik", system-ui;
  font-size: 60px; /* Ajusta según el tamaño exacto */
  font-weight: 150; /* O el peso que mejor coincida */
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
}

.comentarios {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.comentario {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 45%;
  min-width: 300px;
  opacity: 0;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}
.comentario.mostrar {
  opacity: 1;
  transform: translateY(0);
}
.autor {
  font-weight: bold;
  margin-top: 10px;
}
.categoria {
  color: red;
  font-size: 14px;
}

/*Servicios*/

.service-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(209 236 232); /* Color de fondo suave */
  padding: 20px;
  border-radius: 8px;
  margin-top: 60px;
}

.service-content {
  width: 80%;
}

.service-content h2 {
  font-family: "Shafarik", system-ui;
  font-size: 50px; /* Ajusta según el tamaño exacto */
  font-weight: 300; /* O el peso que mejor coincida */
  color: #444; /* Ajusta según el color exacto */
  line-height: 1.2;
}

.service-content p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #222222;
}

.service-image {
  width: 35%;
  text-align: right;
  margin-top: 50px;
}

.service-image img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.quote-section {
  text-align: center;
  padding: 20px;
  background-color: #fff; /* Fondo blanco */
}

.quote-section h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #8b5a57; /* Color marrón suave */
  font-weight: bold;
  margin-bottom: 10px;
}

.underline-text {
  display: inline-block;
  position: relative;
}

.underline-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #8b5a57;
  left: 0;
  bottom: -5px;
  border-radius: 2px;
}

.quote-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.benefits-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  background-color: #dbd9a5; /* Fondo color melocotón claro */
  margin-top: 20px;
}

.benefits-content {
  width: 60%;
  padding-right: 20px;
}

.benefits-content h1 {
  font-family: "Shafarik", system-ui;
  font-size: 50px; /* Ajusta según el tamaño exacto */
  font-weight: 300; /* O el peso que mejor coincida */
  color: #444; /* Ajusta según el color exacto */
  line-height: 1.2;
}

.benefits-list h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #302e2e;
  margin-top: 20px;
}

.benefits-list p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #222222;
}

.benefits-image-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end; /* Alinea el contenido a la derecha */
}

.benefits-image {
  width: 100%;
}

.benefits-image img {
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border: 5px solid #fde3d9; /* Borde color melocotón claro */
  width: 100%; /* Ajuste de ancho completo */
  max-width: 400px; /* Ajuste de ancho máximo */
  margin: 20px auto; /* Centrado y margen */
  display: block; /* Asegura que se trate como un bloque */
}

.contact-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #8b5a57; /* Color marrón suave */
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-align: center;
  align-self: flex-start; /* Alinea el botón a la izquierda dentro de su contenedor */
  margin-top: auto; /* Empuja el botón hacia el final del contenedor */
}

.contact-button:hover {
  background-color: #a67f7a; /* Color marrón más claro al hacer hover */
}

.tcc-phases-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #f9f9f9; /* Fondo claro */
}

.fase {
  background-image: url("./imagenes/psicologia-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #333;
  padding: 20px;
  border-radius: 10px;
}

.fase {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background: #ffffff;
  transition: transform 0.3s ease;
  margin-bottom: 30px;
}
.fase:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fase {
  cursor: pointer;
  transition: all 0.3s ease;
}
.fase:hover {
  background-color: #f1ecec;
  transform: translateY(-5px);
}

.fase-titulo {
  color: #8b5a57;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.fase p {
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
}

/*Contacto*/

.map-container {
  text-align: center;
}

.map-container iframe {
  width: 100%;
  max-width: 500px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.whatsapp-container {
  display: flex;
  align-items: center;
}

.whatsapp-container span {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #333;
}

.whatsapp-fixed-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.whatsapp-fixed-container span {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #333;
}

.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  border-radius: 50%;
  text-decoration: none;
}

.whatsapp-button img {
  width: 24px;
  height: 24px;
}

/*Index responsive */

/* Ajustes generales para pantallas pequeñas */
@media (max-width: 768px) {
  /* Header: ajusta la navegación */
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 5px 0;
  }

  /* Tarjetas */
  .card-container {
    flex-direction: column;
    gap: 15px;
  }

  .card {
    max-width: 100%;
    margin: 0 auto;
  }

  /* Grid áreas de ayuda */
  .grid-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  /* Contenedor de contacto */
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-image {
    border-right: none;
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
  header {
    padding: 5px;
  }

  h1,
  h2,
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700; /* Puedes ajustar el peso de la fuente según lo necesites */
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400; /* Puedes ajustar el peso de la fuente según lo necesites */
  }

  p {
    font-size: 1rem;
  }

  .btn {
    font-size: 14px;
    padding: 8px 15px;
    margin-top: 20px;
  }

  .whatsapp-fixed-container {
    flex-direction: column;
    bottom: 10px;
    right: 10px;
  }

  .whatsapp-fixed-container span {
    margin-bottom: 5px;
  }
}

/* Efecto hover para todos los botones */
button,
.btn {
  background-color: #4caf50; /* Color inicial */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease; /* Transición suave */
}

/* Efecto hover */
button:hover,
.btn:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Para botones con texto de links */
a.btn:hover {
  text-decoration: none;
}

/* Efecto hover para el botón de WhatsApp */
.whatsapp-button:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.4); /* Sombra verde */
  transition: all 0.3s ease;
}

/* Curso */

.hero {
  position: relative;
  height: 100vh; /* Pantalla completa */
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagen de fondo */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
  z-index: 1; /* Debajo del contenido */
}

/* Contenido */
.content {
  position: relative;
  z-index: 2; /* Encima de la imagen */
  background-color: white;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 600px;
  transform: translate(
    -50px,
    -100px
  ); /* Mueve el texto 50px a la izquierda y 100px hacia arriba */
}

.content h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.4;
}

.content p {
  font-size: 1.2em;
  color: #666;
  margin: 0;
}


/* Producto */

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
}

.product-image img {
  width: 100%;
  border-radius: 10px;
  height: 400px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.product-details {
  max-width: 500px;
}

h1 {
  font-size: 28px;
  color: #6d54a2;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.shipping-info {
  font-size: 14px;
  color: #666;
}

.shipping-info a {
  color: #6d54a2;
  text-decoration: underline;
}

.buy-now {
  background-color: #8661c1;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-now:hover {
  background-color: #6d54a2;
}

.product-description {
  font-size: 16px;
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 14px;
}


/* Main Content */
main {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  color: #4caf50;
}

main label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

main input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

main button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

main button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .course-container,
  main {
    padding: 15px;
  }

  header h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5em;
  }

  .course-container .btn,
  main button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Estilo del contenedor principal */
.journaling {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #f8f1cf;
  padding: 20px;
  margin-top: 20px; /* Ajusta este valor según la altura de tu header */
}

.journaling-content {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.journaling-title {
  font-family: "Shafarik", system-ui;
  font-size: 30px; /* Ajusta según el tamaño exacto */
  line-height: 1.2;
}

.journaling-content h2 {
  font-family: "Shafarik", system-ui;
  font-size: 64px; /* Ajusta según el tamaño exacto */
  font-weight: 300; /* O el peso que mejor coincida */
  color: #444; /* Ajusta según el color exacto */
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.journaling-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.journaling-content .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Imagen */
.journaling-image img {
  max-width: 100%;
  border-radius: 10px;
  opacity: 0; /* Inicialmente invisible */
  transform: scale(0.9); /* Imagen ligeramente reducida */
  animation: fadeIn 4s ease-in-out forwards; /* Animación de 2 segundos */
  opacity: 1;
  transform: translateY(0);
  margin-top: 80px;
}

/* Animación para hacer que la imagen aparezca */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9); /* Inicia más pequeña */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Tamaño normal */
  }
}

/* Journaling */

/* Estilos generales */
/* Estilos generales */
.journaling-body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.journaling-header {
  background-color: #f8f1cf;
  color: rgb(26, 25, 25);
  padding: 20px;
  text-align: center;
}

.journal-body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.journal-header {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
}

.journal-title {
  margin: 0;
  font-size: 2.5em;
}

.journal-main {
  padding: 20px;
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  max-width: none; /* Elimina cualquier límite de ancho máximo */
  margin: 0; /* Elimina márgenes que puedan centrar el contenido */
}

.beneficio {
  background-color: #f8f1cf;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ocupa todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  max-width: none; /* Elimina cualquier límite de ancho máximo */
}

.beneficio p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #4d4a4a;
}

/* Metodos pago */

.container {
  background: #f8f1cf;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.payment-options, .delivery-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
.card, .circle {
  background: #ddd;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.card:hover, .circle:hover, .selected {
  background: #bbb;
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.hidden {
  display: none;
}
button {
  background: #0c0c0c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


